$greyLight: rgb(209, 209, 209);
$greyDark: rgb(168, 168, 168);
$redColor : rgb(160,0,0);
$TextShadow: 0px 0px 1px rgb(255, 255, 255);
$fontSize: 30px;
// $FontFamily: 'Goldman', cursive;

.results{
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $greyLight;
    z-index: 2;
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease-in-out;

}
.active {
    height: 400px;
    padding: 20px;
}
.table{

}
.tableTh{
    background-color: $redColor;
    padding: 2px 5px;
    color: $greyLight;
}
.tableTr{
   text-align: center;
    background-color: $greyDark;
}
.heading{
    font-size: $fontSize;
    margin: 20px 0;
}