$greyLight: rgb(209, 209, 209);
$TextShadow: 0px 0px 1px rgb(255, 255, 255);
$fontSize50: 50px;
$fontSize24: 24px;
// $FontFamily: 'Goldman', cursive;
.results {
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $greyLight;
    z-index: 2;
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    font-size: $fontSize24;
}

.active {
    height: 600px;
}

.heading {
    font-size: $fontSize50;
    margin: 0;
    padding-top: 50px;
}