
$fontSize16: 16px;
$FontFamily: 'Goldman', cursive;


.input {
    padding: 2px 0 2px 10px;
    width: 100%;
    font-family: $FontFamily;
    font-size: $fontSize16;
    border: none;
    border-radius: 2px;
    overflow: hidden;
    outline: 0;
}
