$greyDark: rgb(168, 168, 168);
$red: rgb(236, 75, 0);

.table {
    padding: 20px;
    max-height: 300px;
    overflow: auto;
}

.tableTh {
    background-color: $red;
    color: black;
}

.tableTr {
    text-align: center;
    background-color: $greyDark;
}