$white: white;
$red: rgb(236, 75, 0);
$fontSize16: 16px;
$fontSize24: 24px;

.gameOver {
    position: absolute;
    top: 0;
    width: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameOverText {
    font-size: $fontSize24;
    font-weight: 700;
    width: 100%;
    max-width: 300px;
    color: $red;
    padding: 2px 5px;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.gameOverGG {
    font-size:150px;
    color: $red;
    padding-top: 20px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
    animation: gg 2s infinite;
    animation-iteration-count: 3;
    // transform: scale(2.5);
}

@keyframes gg {
    0% {
        color: $white;
        opacity: 0.5;
    }
    50% {
        color: $red;
        transform: scale(2.5);
        transform: translateY(200px);
        opacity: 1;
    }
    100% {
        color: $white;
        opacity: 0.5;
    }
}