$whiteColor: white;

.gameOver {
    position: absolute;
    top: 0;
    width: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
}
.gameOverGG{
    font-size: 80px;
    animation: gg 2s infinite;
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 30px;
}
.gameOverText{
    font-size: 15px;
    font-weight: 700;
    color: $whiteColor;
    padding: 2px 5px;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    
}
@keyframes gg {
    0% {
        color: $whiteColor;
        opacity: 0.5;
    }
    50% {
        color: rgb(160, 1, 1);
        transform: scale(2);
        opacity: 1;
    }
    100% {
        color: $whiteColor;
        opacity: 0.5;
    }
}