@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

$color-eggShell : #f4f1de;
$color-terraCota : #e07a5f;
$color-independence : #3d405b;
$color-greenSheen : #81b29a;
$color-deepChampagne : #f2cc8f;


* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Goldman', cursive;
  background-color: $color-eggShell;
}
