$greyColor: rgb(197, 197, 197);
$greyDarker: rgb(168, 168, 168);
$whiteColor: rgb(255, 255, 255);
$fontSize: 16px;
$FontFamily: 'Goldman', cursive;
$TextShadow: 0px 0px 1px rgb(255, 255, 255);
    
    
    *{
        box-sizing: border-box;
    }
    .cellClose {
        position: relative;
        display: flex;
        color: $greyColor;
        // box-sizing: content-box;
        // border: 1px solid black;
        border: none;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        background-color: $greyDarker;
        outline: none;
        padding: 0;
        box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 1);
        transition: 0.2s all;
        line-height: 0;
        &:hover{
            opacity: 0.9
        }
    }
    

    .cellOpen {
        position: relative;
        // border: 1px solid black;
        cursor: pointer;
        color: rgb(180, 0, 0);
        // box-sizing: content-box;
        background-color: $whiteColor;
        box-shadow: inset 0px 0px 1px 1px rgba(29, 29, 29, 1);
        line-height: 0;
        padding: 0
    }
    
    .cellOpenText{
        position: absolute;
        font-size: 15px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }

    .image {
        position: absolute;
        width: 90%;
        height: 90%;
        left: 1;
        top: 1;
        background-color: black;
    }
    
    .flag {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Minesweeper_flag.svg/1024px-Minesweeper_flag.svg.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }