* {
    box-sizing: border-box;
}

$greyColor: rgb(197, 197, 197);
$greyDarker: rgb(168, 168, 168);
$white: rgb(255, 255, 255);
$red : rgb(236, 75, 0);
$fontSize24: 24px;
$fontSize16: 16px;
$boxShadowInset: inset 0px 0px 0px 2px rgb(0, 0, 0);

.cellClose {
    position: relative;
    display: flex;
    color: $greyColor;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: $greyDarker;
    outline: none;
    padding: 0;
    box-shadow: $boxShadowInset;
    transition: 0.2s all;
    &:hover {
        opacity: 0.9
    }
}

.cellOpen {
    position: relative;
    cursor: pointer;
    background-color: $white;
    box-shadow: $boxShadowInset;
}

.cellOpenText {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: $red;
    font-size: $fontSize24;
}

.image {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 1;
    top: 1;
}

.flag {
    background-image: url('../../images/flag.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}