
$color-eggShell : #f4f1de;
$color-independence : #3d405b;
$color-greenSheen : #81b29a;
$color-deepChampagne : #f2cc8f;
$color-terraCota : rgb(224, 122, 95);
$FontFamily: 'Goldman', cursive;
$fontSize16: 16px;
$fontSize24: 24px;
$fontSize36: 48px;
$TextShadow: 0px 0px 1px rgb(255, 255, 255);


.optionResultButton{
    width: 100%;
    height: 50px;
    padding: 5px 8px;
    font-size: $fontSize24;
color:$color-independence;
    background: linear-gradient(180deg, $color-deepChampagne 0%, $color-terraCota 100%);
    font-family: $FontFamily;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.cancelResultsOptions{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    font-size: 40px;
    color:$color-independence;
    background: linear-gradient(180deg, $color-deepChampagne 0%, $color-terraCota 100%);
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
.restartButton {
    position: relative;
    background: transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border:none;
    outline: none;
}

.saveButton {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-family: $FontFamily;
    font-size: $fontSize16;
    color:$color-independence;
    background-color: $color-terraCota;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    &:hover{
        opacity: 0.8;
    }
}

@media all and (max-width: 460px) {
    .optionResultButton{
        font-size: $fontSize16;
    }
  }