$greyLight: rgb(197, 197, 197);
$greyDark: rgb(168, 168, 168);
$red: rgb(236, 75, 0);
$FontFamily: 'Goldman', cursive;
$fontSize16: 16px;
$fontSize24: 24px;
$fontSize36: 36px;
$TextShadow: 0px 0px 1px rgb(255, 255, 255);
.header {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: flex;
    border: none;
    height: 100px;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    background-color: $greyDark;
    padding: 2px 20px;
    z-index: 10;
}

.button {
    width: 100%;
    padding: 5px 8px;
    font-family: $FontFamily;
    background-color: $red;
    font-size: $fontSize36;
    text-shadow: $TextShadow;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-weight: 700;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    &:disabled {
        color: rgba(0, 0, 0, 0.5);
        cursor: not-allowed;
        &:hover {
            opacity: 1;
        }
    }
}

.startFinish {
    display: block;
    width: 100%;
}

.triangleWrapper {
    position: absolute;
    width: 0;
    height: 0;
    background-color: black;
    top: 100%;
    left: 50%;
}

.triangle {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 50px solid $red;
    padding: 0;
    background-color: transparent;
    transition: all 0.2s;
    &:hover {
        opacity: 0.8;
    }
}

.triangleButton {
    position: absolute;
    text-transform: uppercase;
    font-size: $fontSize24;
    left: -64px;
    top: -52px;
    text-shadow: $TextShadow;
    display: block;
    min-width: 122px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    padding-bottom: 10px;
    font-family: $FontFamily;
    &:hover {
        opacity: 0.8;
    }
}
