$black : black;

.minesweeper{
    position: relative;
    margin: 0 auto ;
    margin-top: 40px;
    background-color: $black;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 0;
    box-sizing:content-box;
    border: 3px solid $black
}
