
$color-terraCota: #e07a5f;
$color-independence: #3d405b;
$color-deepChampagne: #f2cc8f;
$color-black: black;

.minesweeper {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    max-width: 600px;
    height: 800px;
    border: 10px solid $color-independence;
    box-sizing: content-box;
    background-color: $color-deepChampagne;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.grid {
    position: relative;
    margin: 0 auto;
    margin-top: 80px;
    background-color: $color-independence;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 0;
    box-sizing: content-box;
    border: 3px solid $color-independence
}


.toast-success-container {
    color: #000 !important;
    border-radius: 8px !important;
    background: #FFFFFF !important;
    border: 1px solid #34A853 !important;
    box-shadow: 0px 1px 5px rgba(248, 175, 175, 0.1) !important;
    background-color: red;
  }
  
  .toast-success-container-after {
    overflow: hidden;
    position: relative;
    background-color: #a83495;
  }
  
  .toast-success-container-after::after{
    top: 0;
    left: 0;
    content: '';
    width: 7px;
    height: 100%;
    position: absolute;
    display: inline-block;
    background-color: #a83495;
  }