
$color-terraCota: #e07a5f;
$color-independence: #3d405b;
$color-deepChampagne: #f2cc8f;
$color-black: black;


.minesweeper {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    max-width: 600px;
    height: 800px;
    border: 10px solid $color-terraCota;
    box-sizing: content-box;
    background-color: $color-deepChampagne;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.grid {
    position: relative;
    margin: 0 auto;
    margin-top: 80px;
    background-color: $color-independence;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 0;
    box-sizing: content-box;
    border: 3px solid $color-independence
}