$greyLight: rgb(197, 197, 197);
$greyDark: rgb(168, 168, 168);
$red: rgb(236, 75, 0);
$FontFamily: 'Goldman', cursive;
$fontSize16: 16px;
$fontSize24: 24px;
$fontSize36: 36px;
$TextShadow: 0px 0px 1px rgb(255, 255, 255);


.triangleWrapper{
    position: absolute;
    width: 0px;
    height: 0px;
    left: 50%;
    top: 0;
    background-color: red;
}

.triangle {
    position: absolute;
    top: -52px;
    left: 0;
    transform: translateX(-50%);
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 50px solid $red;
    padding: 0;
    background-color: transparent;
    transition: all 0.2s;
    &:hover {
        opacity: 0.8;
    }
}
