
$red: rgb(236, 75, 0);

.triangleWrapper {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 50%;
    top: 0;
    background-color: red;
}

.triangle {
    position: absolute;
    top: -52px;
    left: 0;
    transform: translateX(-50%);
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 50px solid $red;
    padding: 0;
    background-color: transparent;
    transition: all 0.2s;
    &:hover {
        opacity: 0.8;
    }
}