
$greyDarker: rgb(197, 197, 197);
$greyBGColor: rgb(168, 168, 168);
$fontSize: 16px;
$fontSizeLabel: 12px;
$FontFamily: 'Goldman', cursive;
$TextShadow: 0px 0px 1px rgb(255, 255, 255);


.options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
   //  background-color: yellowgreen;
}
.label{
    font-size: $fontSizeLabel;
}
.select {
    padding: 2px 5px;
    font-family: $FontFamily;
    background-color: $greyDarker;
    font-size: $fontSize;
    text-shadow: $TextShadow;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
.select:first-child{
   margin:1px;
}