$color-eggShell: rgba(244, 241, 222, 0.95);
$fontSize24: 24px;
$color-deepChampagne: #f2cc8f;
$color-terraCota: rgb(224, 122, 95);
$FontFamily: 'Goldman', cursive;
$fontSize24: 24px;
.options {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $color-eggShell;
    z-index: 2;
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease-in-out;
    letter-spacing: 1px;
    font-size: $fontSize24;
}

.active {
    height: 100%;
    height: 660px;
}

.saveButton {
    margin-top: 25px;
    padding: 8px 15px;
    font-size: $fontSize24;
    background-color: $color-deepChampagne;
    background: linear-gradient(180deg, $color-deepChampagne 0%, $color-terraCota 100%);
    font-family: $FontFamily;
    outline: none;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}