@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Goldman', cursive;
  background-color: #70D6FF;

}
